Access Granted

You have been granted access to {{system}} with the following roles and privileges:
{{#roles}}
{{name}} : {{#privileges}} {{description}} {{/privileges}}
{{/roles}}
You can find documentation at the following links:
 {{#documentation}}
 {{.}}
{{/documentation}}

Have a good day!