You have been granted access to {{systemName}}, which permits you to run queries returning aggregate clinical and variant patient data.

You may use the portal to ascertain counts of patients with particular phenotypic or genomic features and run statistical analysis.

A <a href="/static/user_guide.pdf">quick start guid</a> is here.

Please contact us at BCHBiobank4Discovery@childrens.harvard.edu for questions.

http://biobank.childrens.harvard.edu
http://www.childrenshospital.org/research/biobank