The following user has been denied access to the {{systemName}} environment because their user has not been configured.

First Name : {{given_name}}
Last Name : {{family_name}}
Email : {{email}}
ID : {{nickname}}
