name: Java CI

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn --update-snapshots package
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Publish to GitHub Packages Apache Maven
        run: mvn deploy -U
        env:
          GITHUB_TOKEN: ${{ github.token }}